/* Hero Section */
.hero {
  /* margin-top: -1.47rem; */
  align-items: center;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%); */
}
.background-img {
  background: url('http://source.unsplash.com/collection/484351');
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__left {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__left h1,
p {
  color: #fff;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  padding: 1rem;
}
.hero__left h1 {
  font-size: 2rem;
  background: rgba(12, 22, 109, 0.4);
}
.hero__left p {
  background: rgba(12, 22, 109, 0.4);
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__left h1 {
    font-size: 4rem;
  }
  .hero__left p {
    font-size: 2rem;
  }
}
