.video-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.video-card__container{
  margin: 6px;
}
.video-card__title {
  font-size: 2.5rem;
  color: #fff;
}