nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: #000;
}
.logo {
  margin-left: 5px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
  padding-right: 1rem;
}
.nav-links li a {
  font-size: 2.5rem;
}
/* Dropdown */
.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-one {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 20;
  background-color: #f9f9f9;
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-two {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 16rem;
  top: 0px;
  min-width: 25rem;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown:hover .dropdown-one,
#link1:hover > .dropdown-two {
  display: block;
}

.dropdown-one .dItem {
  background-color: #000;
  padding: 1.2rem 1.6rem;
  display: block;
  text-align: center;
}
.year_sem {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.dropdown-one .dItem:hover,
.dropdown-two a:hover {
  background-color: rgb(38, 36, 36);
}
.burger {
  display: none;
}
.burger div {
  width: 2.5rem;
  height: 3px;
  margin: 0.5rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-links li a {
    font-size: 1.5rem;
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 10vh;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 22;
    background: crimson;
    display: none;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
  display: flex;
}
