/* Syllabus */
.syllabus__components {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed;
}
.img__heading {
  height: 10rem;
  width: 100%;
}
.syllabus__heading {
  font-size: 2rem;
  color: #fff;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .syllabus__heading {
    font-size: 2rem;
  }
}
